*{
    padding: 0;
    margin: 0;
}

body{
    height: auto;
    background-color: black;
}

.cabecalho{
    height: 90vh;
    width: 100%;
}

.cabecalho img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.menu{
    display: flex;
    justify-content: flex-end;
    background-color: #663a8f;
    height: 130px;
    width: 100%;
}


.menu a{
    width: 120px;
    line-height: 130px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 120%;
    background-color: #663a8f;
    padding: 0 15px;
    font-weight: 400;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.menu a:hover{
    background-color: white;
    color: #663a8f;
}

.instaIcon img, .facebookIcon img{
    width: 90px;
    height: 90px;
    padding: 0 0;
    margin-top: 20px;
}

.instaIcon:hover, .facebookIcon:hover{
    background-color: #663a8f !important; 
}

.facebookIcon img{
    margin-right: -100px;
    border: solid 2px green;
}

.instaIcon img{
    margin-left: -60px;
}

.logoMenu{
    margin-right: 250px;
    height: 200px;
    width: 200px;
    margin-top: -20px;
}


.conteudo{
    background-color: black;
    height: auto;
    
}

.imagensConteudo{
    display: flex;
    margin-top: 200px;
    margin-bottom: 200px;
    justify-content: center;

}

.rotateImage {
    width: 300px;
    height: 300px;
    border: solid 1px white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    overflow: hidden;
    margin-right: -75px;
    border: solid 3px white;
}

.rotateImage:nth-child(even){
    margin-top: 230px;
}

.rotateImage:nth-child(1) img{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform-origin: 130px 330px;
    width: 700px;
    height: 430px;
}

.rotateImage:nth-child(2) img{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform-origin: 100px 270px;
    width: 600px;
    height: 450px;
}

.rotateImage:nth-child(3) img{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform-origin: 95px 260px;
    width: 700px;
}

.rotateImage:nth-child(4) img{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform-origin: 70px 300px;
    width: 650px;
    height: 500px;
}

.rotateImage:nth-child(5) img{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform-origin: 95px 260px;
    width: 700px;
}

.textoConteudo {
    display: block;
    width: 100vw;
    height: 80px;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 70px;
}

.textoConteudo p{
    color: #fff;
}

.textoConteudo span{
    color: #ffbf00;
}

.empresas {
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
}

.empresas img{
    width: 400px;
    height: 250px;
}


.orcamento{
    margin-bottom: 5%;
    margin-top: 300px;
}



.orcamento form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.orcamento button{
    width: 820px;
    height: 60px;
    font-size: 25px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    background-color: #663a8f;
    color: white;
    border: none;
    border-top: solid 2px black;
}

.orcamento button:hover{
    cursor: pointer;
}

.orcamento input {
    width: 800px;
    height: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 17px;
    color: rgb(199, 199, 199);
    background-color: #212528;
    border: none;
}

.icon{
    width: 400px;
}

.sobre{
    height: 300px;
    width: calc(100% - 150px);
    background-color: #663a8f;
    display: flex;
    padding: 100px 150px 50px 0;
    justify-content: space-between;
}

.textoSobre{
    width: 150px;
    color: #fff;
    align-items: center;
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    justify-content: start;
}

.textoSobre p{
    margin-bottom: 25px;
}

.logo {
    width: 400px;;
    height: 400px;
    margin-top: -100px;

}

.contato{
    width: 700px;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
}

.contato p:nth-child(4){
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 25px;
}

.mediaIcon{
    width: 100px;
    height: 100px;
}

footer{
    background-color: #2d3035;
    color: white;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #9657d1;
}

@media (max-width: 1600px){
    .facebookIcon img{
        margin-right: -50px;
      }
    
      .instaIcon img{
          margin-left: -20px;
      }
    
      .menu{
        justify-content: center;
        width: 100vw;
      }
    
      .logoMenu{
        display: none;
      }
    
      .menu a{
        width: 300px;
      }
    
      .menu a:nth-child(5){
        width: 500px;
      }
}


@media (max-width: 1500px){
    
    .rotateImage{
        width: 200px;
        height: 200px;
        margin-right: -50px;
    }

    .rotateImage:nth-child(even){
        margin-top: 160px;
    }

    .empresas{
        flex-wrap: wrap;
    }
    .empresas img{
        margin-bottom: 15px;
    }

    .sobre{
        padding-right: 20px;
        width: calc(100% - 20px);
    }

}

@media (max-device-width: 800px){
    .cabecalho {
        height: 80vh;
    }
    .cabecalho img{
        height: 80vh;
    }
}

@media (max-device-width: 500px){
    .cabecalho {
        height: 30vh;
    }
    .cabecalho img{
        height: 30vh;
    }
}

